body {
    font-family: 'Merriweather', serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orage {
    color: darkorange;
}

.flaxible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
    border-radius: 50%;
}

.Link-button {
    color: red;
    text-decoration: none;
    background-color: chocolate;
    padding: 10px 40px;
    border-radius: 5%;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.big-dream img {
    width: 80%;
    border-radius: 50%;
    background-color: brown;

}

.Big-dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.orange-color {
    color: darkorange;
}

.devlo-per {
    width: 50%;
    padding-left: 5%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px;
    border-radius: 5%;


}

.Experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack {
    border-left: 4px solid darkorange;
}

#baby-web {
    border-left: 4px solid blue;
}

footer p {
    text-align: center;
}