body {
    font-family: 'Merriweather', serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.orage {
    color: darkorange;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
    border-radius: 50%;
}

.Link-button {
    color: red;
    text-decoration: none;
    background-color: chocolate;
    padding: 10px 40px;
    border-radius: 5%;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.big-dream img {
    width: 80%;
    border-radius: 50%;
    background-color: brown;

}

.Big-dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}